.filter-panel-back {
  background-color: whitesmoke;
  height: 100vh;
  width: 17vw;
  display: flex;
  justify-content: start;
  border-right: 10px solid grey;
}

.bar {
  font-size: 1.7vw;
  background: none;
  text-align: left;
  padding-right: 0px;
  padding-left: 3px;
  list-style-type: none;
  cursor: pointer;

  &:hover {
    background: lightgray;
    font-size: 2vw;
    transition: 0.5s;
  }
}

.filter-panel-item {
  font-size: 100px;
}

.CovidShop {
  background-color: bisque;
  border-top: 10px solid grey;
}

.nav-menu {
  background-color: darkcyan;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
}

