.filter-panel-back {
  background-color: whitesmoke;
  width: 300px; //25vw;
  max-width: 25vw;
  min-width: 25vw;
  min-height: 1000px;
  justify-content: start;
  border-right: 10px solid grey;
  display: inline-block;
  text-align: center;
  color: #138EA1;
  font-family: "Times New Roman";
}

.basket-total {
  margin-top: 30px;
  font-size: 1.5rem;
}

.buttonArea button {
  align-items: center;
  text-align: center;
  place-items: center;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.5;
  background-color: white;
  color: black;
  border: 2px solid darkcyan; /* Green */
  &:hover {
    background: lightgray;
    transition: 0.5s;
  }

}

.bar {
  font-size: 1.5vw;
  background: none;
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
  list-style-type: none;
  cursor: pointer;

  &:hover {
    background: lightgray;
    transition: 0.5s;
  }

  .basket-table-row {
    background-color: black;

    &:hover {
      background: lightgray;
      transition: 0.5s;
    }
  }

  li {
    white-space: nowrap;
  }
}


