.filter-panel-back {
    background-color: #61dafb;
    height: 100rem;
    width: 20rem;
    /*display: flex;*/
    /*justify-content: start;*/
    /*align-items: center;*/
}

.bar {
    margin-left: 3rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: darkcyan;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;

}