
.summary-background {
    color: #138EA1;
    width: 100%;
    background-color: whitesmoke;
    min-height: 100rem;
    padding: 20px;
    font-family: Arial;


}
.summary-wrapper,
.basketSummary{
    margin-top: 20px;
    background-color: #cbe8e8;
}
.basketSummary{
    margin: 20px;
}
.summary-user-data {

    font-family: Playfair Display, Georgia, Times New Roman, serif;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 10px;
    grid-row-gap: 1rem;
    column-gap: 1rem;
    color: #138EA1;

}

.order-submit-button {
    grid-column: 2;
    color: white;
    padding: 10px 10px;
    text-align: center;
    background-color: #138EA1;
    border: none;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.summary-user-data label {
    padding-right: 100px;
}

.basket-total {
    display: inline-block;
}

.summary-wrapper {
    position: absolute;
    left: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.summary-wrapper table {
    min-width: 50vw;

}

.summary-wrapper h1 {
    margin-left: 10px;
}

.order-form {
    margin-left: 30px;
    width: 200px;
    padding-bottom: 10px;
}

.basket-table {
    width: 90%;
    margin-left: 1vw;
    max-width: 18vw;
    white-space: nowrap;

}

@media all and (max-width: 1350px) {
    .summary-wrapper {
        margin-left:auto;
        margin-right:auto;
        left: 10%;
    }
    .summary-wrapper h1 {
        margin-right: 10px;
    }

}

.basket-table-buttons {
    cursor: pointer;
}

[aniMarker='1'] {
    animation-name: pr-add;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

[aniMarker='-1'] {
    animation-name: pr-sub;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.basket-table-first-cell {
    text-align: left;
}

@keyframes pr-add {
    0% {
        background-color: inherit;
    }
    20% {
        background-color: inherit;
    }
    50% {
        background-color: green;
    }
    55% {
        background-color: green;
    }
    95% {
        background-color: inherit;
    }
    100% {
        background-color: inherit;
    }
}

@keyframes pr-sub {
    0% {
        background-color: inherit;
    }
    20% {
        background-color: inherit;
    }
    50% {
        background-color: firebrick;
    }
    55% {
        background-color: firebrick;
    }
    95% {
        background-color: inherit;
    }
    100% {
        background-color: inherit;
    }
}