.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.formMedical {
    font-family: Playfair Display, Georgia, Times New Roman, serif;
    font-weight: bold;
    margin-left: 2rem;
    display: grid;
    grid-template-columns: [first]150px [lane2]350px;
    grid-row-gap: 1rem;
    column-gap: 1rem;
    color: #138EA1;
    background-color: rgba(19, 142, 161, 0.2);
    
}

.headerMedical,
.header2,
.headerDetails {
    grid-column: 1 / span 3;
}

.headerMedical {
    text-align: center;
}

.mainForm {
    margin: 1rem;
}


.nameInput,
.surnameInput,
.dateInput,
.emailInput,
.phoneInput,
.addressInput,
.cityInput,
.dateFromInput,
.dateToInput {
    opacity: 60%;
    width: 345px;
    padding: 7px 10px 12px 10px;
    border-radius: 15px;
    border: 0px solid #138EA1;
}

.dateInput,
.emailInput,
.phoneInput,
.addressInput,
.cityInput {
    grid-column: 2 / span 2;
}

.headerDetails,
.headerMedical {
    padding-top: 30px;
}

.header2,
.headerDetails {
    border-bottom: 1px solid;
    padding-left: 10px;
}

.formMedical label {
    padding-left: 5px;
}

.formButtonSubmit {
    grid-column: 2;
    color: white;
    padding: 10px 10px;
    text-align: center;
    background-color: #138EA1;
    border: none;
    margin: 4px;
    border-radius: 2px;
}

.formButtonCancel {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    text-align: center;
    background-color: #0A4A54;
    margin: 4px;
    border: none;
    border-radius: 2px;
}

    .formButtonCancel:hover {
        text-decoration: none;
        color: white;
    }

    .formButtonSubmit:hover,
    .formButtonCancel:hover {
        opacity: 60%;
    }

.formButtonCancel {
    grid-column: 3;
}

.formButtons {
    display: grid;
    grid-column: 3;
}

abbr {
    color: orangered;
    opacity: 60%;
}

.cardWykon {
    display: grid;
    grid-template-columns: 1fr;
    margin: 50px;
    background-color: rgba(23, 162, 184, 0.3);
    font-family: Playfair Display, Georgia, Times New Roman, serif;
}

.wykon {
    font-size: 6vw;
    grid-column: 1;
    text-align: center;
    color: #138EA1;
}

.wykonNames {
    grid-column: 1;
    text-align: center;
    font-size: 4vw;
    font-family: Playfair Display, Georgia, Times New Roman, serif;
}



@media all and (max-width: 945px) {
    .formMedical {
        grid-template-columns: 1fr;
        grid-row-gap: 6px;
        margin: 5px;
    }

        .formMedical label {
            margin-left: 10px;
        }

    .surnameInput {
        margin-bottom: 10px;
    }

    .headerMedical,
    .header2,
    .headerDetails,
    .dateInput,
    .emailInput,
    .phoneInput,
    .addressInput,
    .cityInput {
        grid-column: 1/span 1;
        margin: 10px;
    }

    .formButtons,
    .formButtonSubmit,
    .formButtonCancel {
        grid-column: 1/span 1;
    }


    .nameInput,
    .surnameInput,
    .dateFromInput,
    .dateToInput {
        margin-left: 10px;
    }
}

nav a{
    color: rgba(255,255,255,.5);
}

nav a:hover{
    color: rgba(255,255,255,.75);
    text-decoration: none;

}

@media all and (max-width: 375px) {
    .formButtons,
    .headerMedical,
    .header2,
    .headerDetails,
    .dateInput,
    .emailInput,
    .phoneInput,
    .addressInput,
    .cityInput,
    .nameInput,
    .surnameInput,
    .dateFromInput,
    .dateToInput {
        width: 300px;
    }
}
